.header {
  display: flex;
  flex-direction: column;
  background: url('../img/box.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 25%;
  margin: 0 auto;
  text-align: center;
}
.header h1 {
  margin: 2rem;

}
.navbar ul {
  list-style: none;
	display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #EE8F35;
  margin: auto;
}

.navbar li {
  align-content: space-around;
  padding: 2rem;
}

.content h2 {
  align-content: center;
}

/******************************* start of form*/

.form {
  display: flex;
  flex-grow: 50%;
}

button {
  color: #ee8f35;
}


/****** end of form*/




/********************************** footer*/

.main-footer {
  position:sticky;
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: #EE8F35
}



/*end of footer*/
